.form {
    display: flex;
    justify-content: space-between;

    max-width: 400px;
    width: 100%;

    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

    padding: 30px;
    margin-top: 10px;
}

.todoInput {
    width: 100%;

    border: none;
    border-radius: 10px;
    background-color: #ececec;

    margin-right: 20px;
    padding: 10px;
}

.submit {
    margin-top: 30px;
    padding: 10px 20px;

    width: 100px;

    border: none;
    border-radius: 10px;
    background-color: #c0a0ff;

    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}