.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width:1200px;
    width: 100%;

    margin: 100px auto;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 35px;

    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;

    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 0;
    width: 100%;

    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.main .logo {
    display: block;

    max-width: 600px;
    width: 100%;
}

.main .start {
    padding: 10px 20px;

    border-radius: 10px;
    background-color: #c0a0ff;

    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

a {
    font-weight: 400;
    font-size: 30px;

    color: #ffffff;
    
    cursor: pointer;
    text-decoration: none;
}